:root {
  --primary-color: #f85a40;
  --secondary-color: #1a2c79;
  --font-color: #707070;
  --white: #fff;
  --heading-color: #060606;
  --inter: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--inter);
  color: var(--font-color);
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  outline: 0;
  box-shadow: 0;
}
figure img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}
.btn-white {
  background: #ffffff;
  border: 1px solid transparent;
  color: var(--secondary-color);
  transition: 0.5s all;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.btn-white:hover {
  border-color: #ffffff;
  background: transparent;
  color: #ffffff;
}
.btn-khali {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  transition: 0.5s all;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.btn-khali:hover {
  border-color: #ffffff;
  background: var(--white);
  color: var(--secondary-color);
}
.section-padding {
  padding: 6rem 0;
}
.title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
  color: var(--heading-color);
}
P {
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color);
  letter-spacing: 0.4px;
  padding: 0;
  font-weight: 300;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
/* Navbar */
header {
  position: relative;
}
.navbar {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 79px;
  z-index: 2;
  padding: 1.6rem 1rem;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.navbar .navbar-brand i {
  margin-right: 5px;
}
.navbar .nav-item {
  margin-right: 26px;
}
.navbar .nav-link {
  padding: 6px 12px;
  font-size: 15px;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: var(--white);
}
.navbar .nav-link:hover {
  border-bottom: 1px solid #fff;
}
.navbar .nav-link.active {
  color: var(--white);
  border-bottom: 1px solid #fff;
}
.navbar form {
  position: relative;
}
.navbar form input {
  font-size: 15px;
  color: var(--heading-color);
  border: none;
  background: #fff;
  padding: 10px 35px 10px 15px;
  width: 100%;
  border-radius: 30px;
}
.navbar form .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  outline: none;
  border: 0;
  box-shadow: none;
  color: var(--primary-color);
}
.navbar .btn:focus {
  outline: 0;
}
.navbar .color-change {
  color: var(--white);
  font-size: 24px;
  padding: 0 10px;
}

.navbar .color-change > .fa-regular {
  -webkit-transition-duration: 0.8s;
}
/* banner */
.banner {
  min-height: 98vh;
  background: #f9fafb
    url(https://wp.w3layouts.com/dogscare/wp-content/themes/dogscare/assets/images/banner1.jpg)
    no-repeat center top / cover;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.banner::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent);
  z-index: -1;
}
.banner h1 {
  font-size: 50px;
  line-height: 65px;
  font-weight: 300;
  color: var(--white);
  margin-bottom: 1rem;
}
.banner h1 span {
  display: block;
}
.banner h1 strong {
  font-weight: 700;
}
.banner p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 16px;
  color: var(--white);
}
.banner ul {
  margin-top: 3rem;
  margin-bottom: 0;
}

/* about */
.about .about-info {
  margin-bottom: 40px;
}
.about .about-info,
.about ul {
  padding-left: 15px;
}
.about li {
  margin-right: 30px;
}
.about li:last-child {
  margin-right: 0;
}
.about li i {
  color: var(--primary-color);
  font-size: 35px;
}
.about li h4 {
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0.5rem 0;
}

/* wedo */
.wedo {
  background-color: #fafafa;
}
.wedo-info {
  text-align: center;
  max-width: 770px;
  margin: 0 auto 50px;
}
.wedo-info p {
  font-size: 1.25rem;
  line-height: 1.6;
}
.wedo .card {
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, 0.2);
  background: #ffffff;
  border-radius: 15px;
}
.wedo .card:hover {
  transition: 0.3s all ease-in-out;
  box-shadow: 0 10px 30px -5px rgba(10, 16, 34, 0.2);
}
.wedo .card article {
  padding: 20px;
}
.wedo .card h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.wedo .card p {
  font-size: 15px;
  color: #333;
}
.wedo .card a {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  transition: 0.4s all ease;
}
.review article h2 {
  font-weight: 600;
  margin-bottom: 15px;
}
.review article p {
  color: #333;
}
.review .review-icons {
  list-style: none;
  padding: 40px 0 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}
.review .review-icons li {
  flex: 0 0 50%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.review .review-icons [class*="fa"] {
  color: var(--secondary-color);
  font-size: 30px;
}
.review .review-icons h5 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0px;
  font-weight: 600;
}
.review .review-clients li {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.review .review-clients li:not(:last-child) {
  margin-bottom: 30px;
}
.review .review-clients li figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex: 0 0 11%;
  overflow: hidden;
}
.review .review-clients figure img {
  height: 100%;
  width: 100%;
}
.review .review-clients p {
  text-indent: 2rem;
  position: relative;
  padding-top: 20px;
}
.review .review-clients p::before {
  position: absolute;
  content: "\f10d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  top: -6px;
  left: -30px;
  color: var(--secondary-color);
  font-size: 24px;
}
.review .review-clients q::before {
  display: none;
}
.review .review-clients h6 {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 15px;
}
.gallery {
  background-color: #fafafa;
}
.gallery article {
  text-align: center;
  max-width: 770px;
  margin: 0 auto 50px;
}
.gallery article p {
  font-size: 1.25rem;
  line-height: 1.6;
}
.gallery a {
  margin-right: -0.4%;
}
/* .dogs {
} */
.dogs figure {
  height: 387px;
}
.dogs figure img {
  height: 100%;
  object-fit: contain;
}
.dogs ul {
  column-count: 2;
  column-gap: 3rem;
  list-style: none;
  column-width: 50%;
  margin-bottom: 0;
}
.dogs li:nth-child(n + 2) {
  margin-top: 60px;
}
.dogs li [class*="fa-"] {
  color: var(--primary-color);
  font-size: 26px;
  margin-bottom: 20px;
}
.dogs li h4 {
  font-size: 20px;
  margin: 0 0 10px 0;
  font-weight: 500;
}
.dogs li p {
  margin-bottom: 0;
}
.lover {
  background: fixed
    url(https://wp.w3layouts.com/dogscare/wp-content/themes/dogscare/assets/images/bg.jpg)
    no-repeat center;
  background-size: cover;
}
.lover span {
  color: #eee;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
.lover h2 {
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  margin: 20px 0 50px;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 700px;
}
.news .card span {
  font-size: 14px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 300;
  border-bottom: none;
  padding-bottom: 0px;
  text-align: right;
  display: block;
  color: var(--secondary-color);
}
.news .card h3 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 20px;
}
.news .card a {
  color: var(--secondary-color);
  font-weight: 400;
}
.news .card a:hover {
  color: var(--primary-color);
}
.news .card [class*="fa-"] {
  padding-left: 8px;
  font-size: 10px;
}
footer {
  background: #060606;
  color: #d4d4d4;
  padding-bottom: 40px !important;
}
footer .foot-logo {
  margin-bottom: 1.5rem;
}
footer .foot-logo a {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
}
footer .foot-logo [class*="fa-"] {
  color: var(--primary-color);
}
footer p {
  color: #d4d4d4;
}
footer h5 {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
footer .footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
  column-count: 2;
  column-gap: 2rem;
}
footer .footer-links li a {
  color: #d4d4d4;
  transition: 0.3s ease;
  padding: 7px 0;
  display: inline-block;
  font-size: 15px;
}
footer .footer-links li a:hover {
  color: var(--primary-color);
}
footer .footer-links li a::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 10px;
  padding-right: 10px;
}
footer form {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
footer form input {
  width: 100%;
  padding: 12px 12px;
  font-size: 15px;
  outline: none;
}
footer form button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  width: 15%;
  background: var(--primary-color);
  color: var(--white);
  transition: 0.5s ease-in;
}
footer form button:hover {
  opacity: 0.8;
}
.copyright {
  border-top: 1px solid rgba(238, 238, 238, 0.16);
  padding-top: 1.25rem;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.copyright p {
  font-size: 14x;
  margin-bottom: 0;
}
.copyright p a {
  color: var(--primary-color);
}
.copyright .social-icons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.copyright .social-icons a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgb(41 41 41 / 27%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}
.copyright .social-icons a:hover {
  background: var(--primary-color);
}
.dark {
  background-color: #222222;
}
.dark .title {
  color: var(--white);
}
.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{
  color: var(--white);
}
.dark p{
  color: #b7b7b7 !important;
}
.dark .wedo,
.dark .gallery {
background: #0c0b0b;
color: var(--white) !important;
}
.dark .news {
  background-color: #222222;
}
.dark .news .card h3{
  color: #060606;
}
:root .dark{
  --secondary-color: #3a5cea;
}